[Unit]
Description=Archillect search service
Documentation=https://github.com/disktree/archillect-search/blob/master/README.md
After=network.target

[Service]
WorkingDirectory=/home/tong/dev/archillect-search
ExecStart=/home/tong/dev/archillect-search/service.js
Restart=always

[Install]
WantedBy=multi-user.target
