
@image-width: 200px;

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	
	display: grid;
	grid-template-rows: 192px 48px 48px 1fr;
	grid-template-columns: 1fr;
	justify-items: center;

	&.result {
		/*
		background: red !important;
		grid-template-rows: 48px 48px 1fr;
		grid-template-columns: 1fr 1fr;
		> header {
			grid-column: 1 / span 1;
		}
		> form.controls {
			grid-column: 2 ;
		}
		> ol.images {
			grid-column: 1 / span 2;
		}
		*/
	}

	> header, > form.controls {
		margin: 0 @D2;
	}
	> header {
		place-self: center center;
		user-select: none;
		> h1 {
			display: none;
		}
		> a {
			cursor: default;
			> img {
				//width: @D4;
				//height: @D4;
			}
		}
	}
	> form.controls {
		place-self: center center;
		min-width: 200px;
		max-width: 300px;
		width: 50vw;
		user-select: none;
		> .search {
			> input {
				width: 100%;
				&:focus {

				}
			}
			> button {
				display: none;
				//width: 100px;
			}
		}
		> .settings {
			display: none;
		}
	}
	> .info {
		place-self: center center;
		text-transform: uppercase;
		user-select: none;
	}

	> ol.images {
		column-width: 200px;
		column-gap: 0;
		margin-bottom: 100px;
		column-count: 10;
		user-select: none;
		> li {
			> a {
				border: 1px solid #000;
				&:focus {
					border: 1px solid #fff;

				}
				break-inside: avoid;
				position: relative;
				width: 100%;
				display: block;
				> img {
					display: block;
					width: 100% !important;
				}
			}
		}
	}

	> aside.links {
		display: none;
	}
	
	> footer {
		display: none;
	}

	@media screen and (max-width:400px) {
	}

	@media screen and (min-width:700px) {
		//grid-template-rows: 96px 100px 20px auto;
	}
}
